<footer class="footer" style="background-color: #f2f2f2; text-align: center;">
    <div class="container">
      <div class="footer-content">
        <h3 class="footer-title">¡La mejor pizza de la ciudad!</h3>
        <p class="footer-text">Si tienes algun inconveniente, consulte a soporte.</p>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="footer-text" style="color: #888; font-size: 12px; background-color: #ffffff;">&copy; 2023 Todos los derechos reservados. Leo Escobar</p>
      </div>
    </div>
  </footer>
