<div>
  <h1>Ordenar Pizza</h1>
  <div class="row">
    <div class="col-4">
      <label>Nombre completo</label>
      <div class="col-md-10">
        <mat-form-field>
          <mat-label>Nombre:</mat-label>
          <input matInput type="text" id="nombre" [(ngModel)]="nombre" required>
        </mat-form-field>
        <span class="text-danger"></span>
      </div>
    </div>
    <div class="col-4">
      <label>Direccion</label>
      <div class="col-md-10">
        <mat-form-field>
          <mat-label>Dirección:</mat-label>
          <input matInput type="text" id="direccion" [(ngModel)]="direccion" required>
        </mat-form-field>
        <span class="text-danger"></span>
      </div>
    </div>
    <div class="col-4">
      <label>Teléfono</label>
      <div class="col-md-10">
        <mat-form-field>
          <mat-label>Teléfono:</mat-label>
          <input matInput type="text" id="telefono" [(ngModel)]="telefono" required>
        </mat-form-field>
        <span class="text-danger"></span>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-4 mb-4">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-10">
            <legend>Tamaño de pizza:</legend>
            <mat-form-field>
              <mat-label>Tamaño:</mat-label>
              <mat-select id="tamanio" [(ngModel)]="selectedT">
                <mat-option *ngFor="let t of tamanio" [value]="t">
                  <div *ngIf="t=='chica' ">
                    {{ t }} $ 40
                  </div>
                  <div *ngIf="t=='mediana' ">
                    {{ t }} $ 80
                  </div>
                  <div *ngIf="t=='grande' ">
                    {{ t }} $ 120
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <fieldset>
          <legend>Ingredientes:</legend>

          <div class="checkbox">
            <label>
              <mat-checkbox [(ngModel)]="ingrediente1" value="jamon">Jamón $10</mat-checkbox>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <mat-checkbox [(ngModel)]="ingrediente2" value="piña">Piña $10</mat-checkbox>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <mat-checkbox [(ngModel)]="ingrediente3" value="champiñones">Champiñones $10</mat-checkbox>
            </label>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <legend>Número de pizzas:</legend>
        <div class="col-md-10">
          <mat-form-field>
            <mat-label>Número de pizzas:</mat-label>
            <input matInput type="number" id="numeroPizzas" [(ngModel)]="numeroPizzas" required>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button mat-raised-button color="primary" type="button" (click)="agregarPedido()">Agregar al pedido</button>
      </div>
    </div>
  </div>
  <h2>Pedido</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tamaño</th>
        <th>Ingredientes</th>
        <th>Número de pizzas</th>
        <th>Subtotal</th>
        <th>Quitar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pedido; let i = index">
        <td>{{p.tamanio}}</td>
        <td>{{p.ingredientes.join(' ')}}</td>
        <td>{{p.numPizas}}</td>
        <td>{{p.subtotal}}</td>
        <td><button mat-raised-button color="warn" type="button" (click)="quitarPedido(i)">Quitar</button></td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-offset-2 col-md-4 mt-4 ">
    <button mat-raised-button color="accent" type="button" (click)="mostrarNota()">Terminar</button>
  </div>
  <h2 class="mt-3">Ventas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of ventasDia">
        <td>{{element.id}}</td>
        <td>{{element.nombre}}</td>
        <td>{{element.total}}</td>
      </tr>
    </tbody>
  </table>
</div>