<h2>Agregar Pizza</h2>

<form [formGroup]="pizzaForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
  <label>Nombre:</label>
  <input type="text" formControlName="nombre" class="form-control" required>
  <div *ngIf="pizzaForm.get('nombre')?.touched">
    <div *ngIf="pizzaForm.get('nombre')?.errors?.['required']" class="alert alert-danger">
      Error: Campo requerido
    </div>
    <div *ngIf="pizzaForm.get('nombre')?.errors?.['pattern']" class="alert alert-danger">
      Error: El nombre debe contener solo letras
    </div>
  </div>
</div>
<div class="form-group">
  <label>Dirección:</label>
  <input type="text" formControlName="direccion" class="form-control" required>
  <div *ngIf="pizzaForm.get('direccion')?.touched">
    <div *ngIf="pizzaForm.get('direccion')?.errors?.['required']" class="alert alert-danger">
      Error: Campo requerido
    </div>
    <div *ngIf="pizzaForm.get('direccion')?.errors?.['minlength']" class="alert alert-danger">
      Error: La dirección debe tener al menos 8 caracteres
    </div>
  </div>
</div>
<div class="form-group">
  <label>Teléfono(10 digitos):</label>
  <input type="text" formControlName="telefono" class="form-control" required>
  <div *ngIf="pizzaForm.get('telefono')?.touched">
    <div *ngIf="pizzaForm.get('telefono')?.errors?.['required']" class="alert alert-danger">
      Error: Campo requerido
    </div>
    <div *ngIf="pizzaForm.get('telefono')?.errors?.['pattern']" class="alert alert-danger">
      Error: El teléfono debe contener solo números y tener 10 dígitos
    </div>
  </div>
</div>
<div class="form-group" style="display: none;">
  <label>Fecha:</label>
  <input type="date" formControlName="fecha" class="form-control" required>

  <div *ngIf="pizzaForm.get('fecha')?.touched">
    <div *ngIf="pizzaForm.get('fecha')?.errors?.['required']" class="alert alert-danger">
      Error: Campo requerido
    </div>
    <div *ngIf="pizzaForm.get('fecha')?.errors?.['minDate']" class="alert alert-danger">
      Error: La fecha debe ser 30 días mayor o igual a la fecha actual
    </div>
  </div>
</div>


  <div class="form-group">
  <label>Tamaño:</label>
  <mat-radio-group formControlName="tamanio" class="form-control" required>
    <mat-radio-button value="Chica">Chica. 40$</mat-radio-button>
    <mat-radio-button value="Mediana">Mediana. 80$</mat-radio-button>
    <mat-radio-button value="Grande">Grande. 120$</mat-radio-button>
  </mat-radio-group>
  <div *ngIf="pizzaForm.get('tamanio')?.touched">
    <div *ngIf="pizzaForm.get('tamanio')?.errors?.['required']" class="alert alert-danger">
      Error: Campo requerido
    </div>
  </div>
</div>
<div class="form-group">
  <label>Ingredientes:</label>
  <div formArrayName="ingredientes">
    <div>
      <span class="ingredient-label">Pizza solo de queso o:</span>
    </div>
    <mat-checkbox *ngFor="let ingrediente of ingredientes; let i = index" [formControlName]="i" (change)="onCheckboxChange($event)">
      {{ ingrediente.nombre }} <span class="price-label">+10$</span>
    </mat-checkbox>
  </div>
</div>


<div class="form-group">
  <label>Número de Pizzas:</label>
  <input type="number" formControlName="numeroPizzas" class="form-control" required>
  <div *ngIf="pizzaForm.get('numeroPizzas')?.touched">
    <div *ngIf="pizzaForm.get('numeroPizzas')?.errors?.['required']" class="alert alert-danger">
      Error: Campo requerido
    </div>
    <div *ngIf="pizzaForm.get('numeroPizzas')?.errors?.['min']" class="alert alert-danger">
      Error: El número de pizzas debe ser mayor a 0
    </div>
  </div>
</div>
<div class="botones">


  <button type="submit" class="btn btn-primary"><mat-icon> local_pizza</mat-icon>Agregar Pizza</button>
</div>
</form>


<h2>Pizzas Agregadas</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Fecha</th>
      <th>Tamaño</th>
      <th>Ingredientes</th>
      <th>Número de Pizzas</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedidos">
      <td>{{ pedido.nombre }}</td>
      <td>{{ pedido.direccion }}</td>
      <td>{{ pedido.telefono }}</td>
      <td>{{ pedido.fecha }}</td>
      <td>{{ pedido.tamanio }}</td>
      <td>{{ pedido.ingredientes.join(', ') }}</td>
      <td>{{ pedido.numeroPizzas }}</td>
      <td>{{ pedido.subtotal }}</td>
    </tr>
  </tbody>
</table>
<h1>Detalles del Pedido</h1>
<div class="ticket">
  <h2>Nombre: <p>{{ nombre }}</p></h2>
  
  <h2>Dirección: <p>{{ direccion }}</p></h2>
  
  <h2>Teléfono: <p>{{ telefono }}</p></h2>
  
  <h2>Fecha: <p>{{ fecha }}</p></h2>
  
  <h2>Orden: <p>{{ orden }}</p></h2>
  
  <h2>Total: <strong> {{ totalPizza }}</strong></h2>
</div>

<div class="floating-buttons">
  <button type="button" class="btn btn-primary" (click)="pedidoTerminado = true" style="display: none;">
    <mat-icon>check_circle</mat-icon> Terminar Pedido
  </button>
  <button type="button" class="btn btn-primary" (click)="nuevoPedido();">
    <mat-icon>add_circle</mat-icon> Nuevo Pedido
  </button>
</div>

<ng-container *ngIf="pedidoTerminado">
  <h2>Consulta de ventas</h2>
  <div class="botones">
  <button type = "button" class="btn btn-primary" (click)="restaurarPedidos();">
    <mat-icon>restore</mat-icon> Restaurar Pedidos
  </button>
</div>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Fecha</th>
        <th>Detalles de Pizza</th>
        <th>Subtotal</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li *ngFor="let nombre of nombreHistorialPizza">{{ nombre }}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let direccion of direccionHistorialPizza">{{ direccion }}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let telefono of telefonoHistorialPizza">{{ telefono }}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let fecha of fechaHistorialPizza">{{ fecha }}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let detalle of detallesHistorialPizza">{{ detalle }}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let subtotal of subtotalPizzaHistorial">{{ subtotal }}</li>
          </ul>
        </td>
        <td>{{ historialTotalPizza }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
